Repository jMonkeyEngine/jmonkeyengine, pull requests merged in 2022-05, with the labels that each got.

#1805 JmeSurfaceView: Javadocs format improves
  jme3-android/src/main/java/com/jme3/app/jmeSurfaceView/JmeSurfaceView.java
  jme3-android/src/main/java/com/jme3/app/jmeSurfaceView/OnExceptionThrown.java
  jme3-android/src/main/java/com/jme3/app/jmeSurfaceView/OnLayoutDrawn.java
  jme3-android/src/main/java/com/jme3/app/jmeSurfaceView/OnRendererCompleted.java
  jme3-android/src/main/java/com/jme3/app/jmeSurfaceView/OnRendererStarted.java
Labels: Android, Documentation

#1821 Android: Implemented AndroidNativeBufferAllocator - Deprecated AndroidBufferAllocator
  jme3-android-native/bufferallocator.gradle
  jme3-android-native/build.gradle
  jme3-android-native/src/native/jme_bufferallocator/Android.mk
  jme3-android-native/src/native/jme_bufferallocator/Application.mk
  jme3-android-native/src/native/jme_bufferallocator/com_jme3_util_AndroidNativeBufferAllocator.c
  jme3-android/src/main/java/com/jme3/system/android/OGLESContext.java
  jme3-android/src/main/java/com/jme3/util/AndroidBufferAllocator.java
  jme3-android/src/main/java/com/jme3/util/AndroidNativeBufferAllocator.java
Labels: Android

#1790 Add GL debug capabilities
  jme3-core/src/main/java/com/jme3/renderer/Caps.java
  jme3-core/src/main/java/com/jme3/renderer/RenderManager.java
  jme3-core/src/main/java/com/jme3/renderer/Renderer.java
  jme3-core/src/main/java/com/jme3/renderer/opengl/GL3.java
  jme3-core/src/main/java/com/jme3/renderer/opengl/GLExt.java
  jme3-core/src/main/java/com/jme3/renderer/opengl/GLRenderer.java
  jme3-core/src/main/java/com/jme3/scene/VertexBuffer.java
  jme3-core/src/main/java/com/jme3/system/AppSettings.java
  jme3-core/src/main/java/com/jme3/texture/FrameBuffer.java
  jme3-lwjgl3/src/main/java/com/jme3/renderer/lwjgl/LwjglGLExt.java
  jme3-lwjgl3/src/main/java/com/jme3/system/lwjgl/LwjglContext.java
Labels: enhancement
